@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/style.css")

<body>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/Content/style.css" />
    <div id="home">
        <br />
        <div id="leftside">
            <div class="w3-content w3-display-container">
                <img class="mySlides w3-animate-fading" src="~/img/IMG-4154.jpg" style="width:100%">
                <img class="mySlides w3-animate-fading" src="~/img/IMG-4155.jpg" style="width:100%">
                <img class="mySlides w3-animate-fading" src="~/img/IMG-4156.jpg" style="width:100%">
                <img class="mySlides w3-animate-fading" src="~/img/IMG-4157.jpg" style="width:100%">
                <img class="mySlides w3-animate-fading" src="~/img/IMG-4158.jpg" style="width:100%">
            </div>
        </div>
        <div>
            <h2 style="margin:50px 0px 0px 100px">國立臺北大學資訊工程系</h2>
            <h2 style="margin:20px 0px 0px 100px">ESA LAB</h2>
            <hr style="border:3px solid #DDDDDD;margin:20px 100px 20px 100px;" width="85%">
        </div>
        <div style="width:1080px;padding:0px 10px 10px 0px;border:0px;margin:20px 100px 0px 100px;text-align:left">
            <h4>
                本實驗室秉持著創新性及實用性的精神，培育擁有實作能力，創新設計與軟硬體整合之人才，積極提升學生的視野及專業。
                本實驗室致力致力於嵌入式系統等相關技術等，並且提供學生進行相關實驗及跨屆合作。
            </h4>
        </div>
        <div style="width:1080px;padding:0px 10px 10px 0px;border:0px;margin:20px 100px 0px 100px;text-align:left">
            <h3>研究方向</h3>
            <ul>
                <li>嵌入式系統</li>
                <li>穿戴式系統</li>
                <li>生醫訊號處理</li>
                <li>可攜式生醫電子系統設計</li>
            </ul>
            <h3>發展特色</h3>
            <ul>
                <li>重視與業界合作，使理論與實際相配合。</li>
                <li>積極鼓勵同學參與各項專業競賽，並多次獲獎，備受肯定。</li>
            </ul>
        </div>
    </div>
</body>

<script>

    //< !--幻燈片  start-- >
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 3000);
    }
</script>