* {
    font-family: Microsoft JhengHei !important;
}
body {
    background-color: rgba(204, 204, 204, 1);
}
.language{
    float:left!important;
}

.header {
    filter: Alpha(opacity=60) !important;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 100px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #2f4052 !important;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}
#myBtn:hover {
    background-color: #555;
}
footer {
    color: aliceblue;
    width: 100%;
    background-color: #262626;
    padding-top: 3%;
    padding-bottom: 5%;
    float: left;
}
.foot1 {
    text-align: left;
    padding-left: 5%;
    width: 50%;
    float: left;
}
.foot2 {
    text-align: right;
    padding-left: 5%;
    width: 30%;
    float: left;
}
li {
    font-size: 16px;
    font-family: Microsoft JhengHei !important;
}
h2 {
    font-family: Microsoft JhengHei !important;
}

.professor-img {
    height: 285px;
    width: 283px;
}
#professor {
    margin: 50px;
}
.btn-professor {
    padding: 6px 70px !important;
    font-size: 18px !important;
}
.link ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

#contact {
    margin-top: 20px;
}
#contact .header {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: auto;
    text-align: center;
}
#contact hr {
    border: 0;
    width: 70%;
    height: 3px;
    background: #333;
    background-image: linear-gradient(to right,rgba(204, 204, 204, 1),black,rgba(204, 204, 204, 1) );
}
#contact .word {
    font-family: Microsoft JhengHei;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}
#contact .fb-comments {
    position: relative;
    top: 20px;
    left: 25%;
    width: 800px;
}

#mySlides {
    display: none!important;
}
.leftside > .w3-content {
    float: left !important;
    margin-left: 300px !important;
}

#member .slide_toggle {
    min-width: 200px;
    max-width: 1000px;
    padding-bottom: 0.3em;
    font-weight: bold;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 0.5px solid #9E9E9E;
}
#member .slide_toggle + div {
    display: none;
    margin-top: 10px;
    /* 隱藏註解文字區塊, 請加入自訂 CSS 效果 */
}
#member .da-name {
    font-family: Microsoft JhengHei;
    font-size: 20px;
    min-width: 200px;
    max-width: 1000px;
    margin-left: 14px;
}
#member .markdown-body {
    min-width: 200px;
    max-width: 1000px;
}
#member .markdown-body h2 {
        padding-bottom: 0.3em;
        font-size: 1.75em;
        line-height: 1.225;
        border-bottom: 0.5px solid #9E9E9E;
    }
#member .dropbtn {
    background-color: #fff;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
#member .dropbtn:hover, .dropbtn:focus
#member .dropdown {
    position: relative;
    display: inline-block;
}
#member .dropdown-content {
    display: none;
    font-family: Microsoft JhengHei;
    font-size: 20px;
    min-width: 200px;
    max-width: 1000px;
    position: absolute;
}
#member .flip {
    margin: 0px;
    padding: 5px;
    text-align: center;
    background: #E09697;
    cursor: pointer;
    font-family: 'Arial';
}
#member .panel {
    margin: 0px;
    padding: 5px;
    text-align: center;
    background: #e5eecc;
    border: solid 1px #c3c3c3;
    display: none;
    font-family: 'Arial';
}
#member .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#member .dropdown-content h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 0.5px solid #9E9E9E;
}
#member .dropdown a:hover {
    background-color: #fff;
}
#member .drop {
    box-sizing: border-box;
    vertical-align: bottom;
}
#member .show {
    display: block;
}
#member address p {
    font-style: italic !important;
}
