
@{
    ViewBag.Title = "Research";
}
@Styles.Render("~/Content/style.css")
<body>
    <div id="research">
        <br /><br />
        <div class="link">
            <input type="button" class="btn-professor btn btn-default" onclick="javascript:location.href='Professor'" value="簡介" title="Professor">
            <input type="button" class="btn-professor btn btn-default" onclick="javascript:location.href='Publication'" value="著作" title="Publication">
            <input type="button" class="btn-professor btn btn-default" onclick="javascript:location.href='Research'" value="研究計畫" title="Research">
            <input type="button" class="btn-professor btn btn-default" onclick="javascript:location.href='Patent'" value="專利" title="Patent">
            <input type="button" class="btn-professor btn btn-default" onclick="javascript:location.href='Honors'" value="獲獎殊榮" title="Honors">
        </div>
        <br />
        <div id="technology-program">
            <h2>科技部計畫</h2>
            <ol>
                <li>
                    國科會99年度國家型科技計畫：行動醫療感知無線電平台--子計畫二「系統與感知無線電平台之媒介擷取控制層設計(1/3)」 (NSC 99-2220-E-305-001，執行期間：2010/08/01~2011/07/31)，主持人。
                </li>
                <li>
                    國科會99年度國家型科技計畫：行動醫療感知無線電平台－總計畫(1/3)(NSC 99-2220-E-002-037，執行期間：2010/08/01~2011/07/31)，共同主持人。
                </li>
                <li>
                    國科會100年度國家型科技計畫：行動醫療感知無線電平台--子計畫二「系統與感知無線電平台之媒介擷取控制層設計(2/3)」(NSC 100-2220-E-305-001，執行期間：2011/08/01~2012/07/31)，主持人。
                </li>
                <li>
                    國科會100年度國家型科技計畫：行動醫療感知無線電平台－總計畫(2/3)( NSC 100-2220-E-002-008，執行期間：2011/08/01~2012/07/31) ，共同主持人。
                </li>
                <li>
                    國科會101年度醫療器材跨領域萌芽創新計畫(NSC 101-2321-B-384-001，執行期間：2012/01/01~2012/12/31)，共同主持人。
                </li>
                <li>
                    國科會101年度國家型科技計畫：行動醫療感知無線電平台－子計畫二：系統與感知無線電平台之媒介擷取控制層設計(3/3)(NSC 101-2220-E-305-001，執行期間：2012/08/01~2013/07/31)，主持人。
                </li>
                <li>
                    國科會101年度國家型科技計畫：總計畫暨子計畫三：感知無線電之雲端可調式推論與學習框架(3/3)( NSC 101-2220-E-002-008，執行期間：2012/08/01~2013/07/31)，共同主持人。
                </li>
                <li>
                    國科會101年度Zigbee感知網路資料分流及備援模型開發與應用於生醫嵌入式網路系統研究(NSC 101-2622-E-305-003-CC3，執行期間：2012/11/01~2013/10/31)，共同主持人。
                </li>
                <li>
                    國科會102年度一般型研究計畫：高信度醫療控管平台設計－高信度銀髮族醫療控管平台之活動監控系統(1/2) (NSC 102-2218-E-305-001，執行期間：2013/09/01~2014/08/31)，主持人。
                </li>
                <li>
                    國科會102年度一般型研究計畫：高信度醫療控管平台設計--高信度銀髮族醫療控管平台之嵌入式系統研製(1/2) (NSC 102-2218-E-197-001，執行期間：2013/09/01~2014/08/31) ，共同主持人。
                </li>
                <li>
                    國科會102年度一般型研究計畫：高信度銀髮族醫療控管平台--高信度銀髮族醫療控管平台之普適型智慧護帶系統(1/2) (NSC 102-2218-E-017-003，執行期間：2013/09/01~2014/08/31) ，共同主持人。
                </li>
                <li>
                    國科會102年度一般型研究計畫：高信度銀髮族醫療控管平台--高信度銀髮族醫療控管平台之普適型下肢活動感測生理回饋系統(1/2) (102-2218-E-264-001，執行期間：2013/09/01~2014/08/31) ，共同主持人。
                </li>
                <li>
                    國科會102年度一般型研究計畫：協助潛在或患有心血管疾病中高齡者健康管理與照護之智慧感知衣概念設計(NSC 102-2218-E-182-006，執行期間：2013/10/01~2014/06/30) ，共同主持人。
                </li>
                <li>
                    科技部103年度一般型研究計畫：高信度醫療控管平台設計－高信度銀髮族醫療控管平台之活動監控系統(2/2) (MOST 103-2218-E-305-001，執行期間：2014/09/01~2015/08/31)，主持人。
                </li>
                <li>
                    科技部103年度一般型研究計畫：設計與實作一基於混合雲架構於機上盒的銀髮族家庭健康照護系統(MOST 103-2218-E-305-003，執行期間：2014/09/01~2015/08/31)，主持人。
                </li>
                <li>
                    科技部103年度一般型研究計畫：高信度醫療控管平台設計--高信度銀髮族醫療控管平台之嵌入式系統研製(2/2) (MOST 103-2218-E-197-001，執行期間：2014/09/01~2015/08/31) ，共同主持人。
                </li>
                <li>
                    科技部103年度一般型研究計畫：高信度銀髮族醫療控管平台--高信度銀髮族醫療控管平台之普適型智慧護帶系統(2/2) (MOST 103-2218-E-017-001，執行期間：2014/09/01~2015/08/31) ，共同主持人。
                </li>
                <li>
                    科技部103年度一般型研究計畫：高信度銀髮族醫療控管平台--高信度銀髮族醫療控管平台之普適型下肢活動感測生理回饋系統(2/2) (MOST 103-2218-E-264-001，執行期間：2014/09/01~2015/08/31) ，共同主持人。
                </li>
                <li>
                    科技部104年度一般型研究計畫：使用九軸慣性測量單元及壓力感測器應用於手功能評估之資料手套(MOST 104-2221-E-305-006，執行期間：2015/08/01~2016/07/31)，主持人。
                </li>
                <li>
                    科技部105年度一般型研究計畫：使用慣性測量單元手套實現一手功能評估系統 (MOST 105-2221-E-305-001，執行期間：2016/08/01~2017/07/31)，主持人。
                </li>
                <li>
                    科技部106年度一般型研究計畫：使用穿戴式垂足電刺激器之即時自適應自動控制系統 (MOST 106-2221-E-305-012，執行期間：2017/08/01~2018/07/31)，主持人。
                </li>
            </ol>
        </div>
        <hr />
        <div id="technology-program-university">
            <h2>科技部大專學生研究計畫</h2>
            <ol>
                <li>
                    指導學生陳皓執行科技部101學年度大專學生研究計畫(101-2815-C-305-011-E)，題目為「嵌入式老人跌倒偵測系統」。
                </li>
                <li>
                    指導學生李依蓉執行科技部102學年度大專學生研究計畫(102-2815-C-305-002-E)，題目為「基於HL7/XML之混合式雲端居家照護系統」。
                </li>
                <li>
                    指導學生李政哲執行科技部105學年度大專學生研究計畫(105-2815-C-305-023-E)，題目為「Easy Guide：以智慧型裝置實現之簡易導盲系統」。
                </li>
                <li>
                    指導學生林榆軒執行科技部106學年度大專學生研究計畫(106-2813-C-305-031-E)，題目為「多點藍芽傳輸所造成局部資料遺失的即時復原演算法」。
                </li>
            </ol>
        </div>
        <hr />
        <div id="other-program">
            <h2>其他研究計畫</h2>
            <ol>
                <li>
                    Connective Ubiquitous Technology for Embodiments (CUTE) Centre的海外合作研究計劃 (CUTE Project No. WBS R-705-000-100-279)，執行時間為99年1月1日至99年12月31日。
                </li>
                <li>
                    延攬客座科技人才，邀請日本慶慶義塾大學 稻見昌彥 教授 至台北大學資工系開授「混合實境與娛樂運算」課程。(099-2811-E-305-001，執行期間： 2010/09/06~2011/01/28)
                </li>
                <li>
                    100年度學界協助中小企業科技關懷計畫，計畫名稱為「直流無刷馬達控制板之軔體開發與系統控制介面之研究」，執行時間自民國100年7月1日至100年12月31日止，為期6個月。
                </li>
                <li>
                    101年度學界協助中小企業科技關懷計畫，計畫名稱為「車用電池監控系統之AndroidAPP設計開發」，執行時間自民國101年5月1日至101年10月31日止，為期6個月。
                </li>
                <li>
                    101年度學界協助中小企業科技關懷計畫，計畫名稱為「使用於工具機監控系統之ZigBee軔體開發」，執行時間自民國101年5月1日至101年10月31日止，為期6個月。
                </li>
                <li>
                    107年度學界協助中小企業科技關懷計畫，計畫名稱為「智慧居家空氣品質監測系統」，執行時間自民國107年5月1日至107年10月31日止，為期6個月。
                </li>
            </ol>
        </div>
        <hr />
        <div id="producing-study-cooperation">
            <h2>產學計畫</h2>
            <ol>
                <li>
                    99年HIS病歷電子化專案企業實習，任期自99年1月1日至99年12月31日，指導學生如何撰寫大型程式及開發資料庫，讓學生課堂所學可以與實務做一結合。合作對象為和易信科技有限公司。
                </li>
                <li>
                    執行產學合作計畫，合作對象為誠力有限公司，研究題目為「ZigBee韌體測試及修改」，執行時間自民國100年4月1日至100年9月31日止，為期6個月。
                </li>
                <li>
                    執行產學合作計畫，合作對象為漢翔航空工業股份有限公司，研究題目為「混合訊號縮裝電路之研製與開發」，執行時間自民國100年8月2日至100年11月29日止，為期120日曆天。
                </li>
                <li>
                    執行產學合作計畫，合作對象為力聚科技股份有限公司，研究題目為「直流無刷馬達控制板之軔體與圖形使用者介面軟體之開發」，執行時間自民國100年8月1日至101年7月31日止，為期12個月。
                </li>
                <li>
                    執行產學合作計畫，合作對象為誠力有限公司，研究題目為「ZigBee韌體測試及修改II」，執行時間自民國100年10月1日至101年3月31日止，為期6個月。
                </li>
                <li>
                    執行產學合作計畫，合作對象為誠力有限公司，研究題目為「ZigBee韌體測試及修改III」，執行時間自民國101年9月1日至101年10月31日止，為期2個月。
                </li>
                <li>
                    執行產學合作計畫，合作對象為誠力有限公司，研究題目為「智慧居家空氣品質監控系統」，執行時間自民國106年7月1日至106年8月31日止，為期2個月。
                </li>
                <li>
                    執行產學合作計畫，合作對象為格林科技有限公司，研究題目為「使用腦波機於專注力監控之研究」，執行時間自民國106年10月1日至106年12月31日止，為期3個月。
                </li>
                <li>
                    執行產學合作計畫，合作對象為康儀電子股份有限公司，研究題目為「使用腦波機於復健病人之專注力監控研究」，執行時間自民國107年2月1日至107年4月30日止，為期3個月。
                </li>
                <li>
                    執行產學合作計畫，合作對象為格林科技有限公司，研究題目為「使用資料手套實現一手功能評估之研究」，執行時間自民國107年7月1日至107年9月30日止，為期3個月。
                </li>
            </ol>
        </div>
    </div>
</body>

