
@{
    ViewBag.Title = "English";
}
<body>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/Content/style.css" />

    <div id="home">
        <br />
        <div>
            <h2 style="margin:50px 0px 0px 100px">National Taipei University,CSIE</h2>
            <h2 style="margin:20px 0px 0px 100px">ESA LAB</h2>
            <hr style="border:3px solid #DDDDDD;margin:20px 100px 20px 100px;" width="85%">
        </div>
        <div style="width:1080px;padding:0px 10px 10px 0px;border:0px;margin:20px 100px 0px 100px;text-align:left">
            <h4>
                The laboratory adheres to the spirit of innovation and practicality, and cultivates talents with practical ability, innovative design and integration of software and hardware, and actively enhances students' vision and professionalism.
            </h4>
            <h4>
                The laboratory is committed to embedded systems and other related technologies, and provides students with relevant experiments and cross-session cooperation.
            </h4>
        </div>
        <div style="width:1080px;padding:0px 10px 10px 0px;border:0px;margin:20px 100px 0px 100px;text-align:left">
            <h3>Research Direction</h3>
            <ul>
                <li>Embedded Systems</li>
                <li>Wearable System</li>
                <li>Biomedical Signal Processing</li>
                <li>Design of Portable Biomedical Electronic System</li>
            </ul>
            <h3>Development Characteristics</h3>
            <ul>
                <li>Attach importance to cooperation with the industry to match theory with practice.</li>
                <li>Actively encourage students to participate in various professional competitions, and won many awards, which is highly recognized.</li>
            </ul>
        </div>
    </div>
</body>


<style>
    body {
        background-color: rgba(204, 204, 204, 1);
    }
</style>

