
@{
    ViewBag.Title = "Honors";
}

<body>
    <div>
        <br /><br />
        <div class="link">
            <input type="button" class="btn-professor btn btn-default" onclick="javascript:location.href='Professor'" value="簡介">
            <input type="button" class="btn-professor btn btn-default" onclick="javascript:location.href='Publication'" value="著作">
            <input type="button" class="btn-professor btn btn-default" onclick="javascript:location.href='Research'" value="研究計畫">
            <input type="button" class="btn-professor btn btn-default" onclick="javascript:location.href='Patent'" value="專利">
            <input type="button" class="btn-professor btn btn-default" onclick="javascript:location.href='Honors'" value="獲獎殊榮">
        </div>        <br />
        <div id="academic-honors">
            <h2>學術榮譽 (Academic Honors)</h2>
            <ol>
                <li>
                    榮獲國立臺北大學98學年度教學模範教師。
                </li>
                <li>
                    榮獲國立臺北大學102學年度績優導師。
                </li>
                <li>
                    榮獲國立臺北大學102學年度教學績優教師。
                </li>
                <li>
                    榮獲國立臺北大學103年度產學績優教師。
                </li>
                <li>
                    榮獲科技部104年度補助大專校院獎勵特殊優秀人才。
                </li>
                <li>
                    榮獲104年度國立臺北大學電機資訊學院研究傑出獎。
                </li>
                <li>
                    榮獲104年度國立臺北大學學術研究獎助獎。(SCI*2)
                </li>
                <li>
                    榮獲105年度國立臺北大學學術研究獎助獎。(SCI*4)
                </li>
                <li>
                    榮獲105年度臺北聯合大學系統學術研究成果聯合發表會優秀論文壁報優等獎。
                </li>
                <li>
                    榮獲105年度國立臺北大學推動教育部教學卓越計畫之績優教師獎勵。
                </li>
                <li>
                    榮獲106年度國立臺北大學學術研究獎助獎。(SCI*4)
                </li>
                <li>
                    榮獲107年度國立臺北大學學術研究獎助獎。(SCI*8, 專書論文*3)
                </li>
                <li>
                    榮獲107年度台灣復健醫學會會員大會暨學術研討會壁報論文優等獎。
                </li>
                <li>
                    榮獲107年度臺北聯合大學系統學術研究成果聯合發表會優秀論文壁報優等獎。
                </li>
            </ol>
        </div>
        <hr />
        <div id="contest-honors">
            <h2>指導學生獲獎 (Contest Honors)</h2>
            <ol>
                <li>
                    指導學生參加「2009 德州儀器亞洲區 DSP 應用競賽」，通過初賽(未參加決賽)。
                </li>
                <li>
                    指導學生參加「2010美商華麗得盃 創意程式設計競賽」，獲得佳作。
                </li>
                <li>
                    指導學生(何崇安、陳奕鈞)參加國立臺北大學資工系100學年度第1學期專題成果競賽，獲得第一名。作品名稱為「智慧型手機應用於門鎖及保密機制」。
                </li>
                <li>
                    指導學生(陳皓)參加國立臺北大學資工系100學年度第2學期專題成果競賽，獲得佳作。作品名稱為「基於影像分析的老人跌倒偵測系統」。
                </li>
                <li>
                    指導學生(李依蓉)參加國立臺北大學資工系101學年度第1學期專題成果競賽，獲得佳作。作品名稱為「基於HL7/XML之混合式雲端居家照護系統」。
                </li>
                <li>
                    指導學生(黃文郁)參加國立臺北大學資工系101學年度第1學期專題成果競賽，獲得最佳人氣獎第四名。作品名稱為「獨居老人家照護－ Kinect跌倒偵測系統」。
                </li>
                <li>
                    指導學生(廖嘉禾、黃彥禎)參加國立臺北大學資工系102學年度第2學期專題成果競賽，獲得第一名。作品名稱為「iWalk-基於步態分析與環境辨識之智慧型機械行走輔助器」。
                </li>
                <li>
                    指導學生(陳芝儀、吳孟蓉)參加國立臺北大學資工系102學年度第2學期專題成果競賽，獲得第二名。作品名稱為「The Sleep WELL Box」。
                </li>
                <li>
                    指導學生(陳彥霖、陳君豪、張均豪)參加國立臺北大學資工系103學年度第2學期專題成果競賽，獲得佳作。作品名稱為「Camtrol－基於物品辨識的智慧家庭系統」。
                </li>
                <li>
                    指導學生(徐國維、彭伯銓)參加國立臺北大學電機系103學年度第2學期專題成果競賽，獲得第二名。作品名稱為「室內移動距離的測量」。
                </li>
                <li>
                    指導學生參加「2015 德州儀器亞洲區 DSP 應用競賽」，通過初賽(未參加決賽)。
                </li>
                <li>
                    指導學生(蕭勝興、李政哲、楊朝勛、黃昶翔)參加國立臺北大學資工系104學年度第2學期專題成果競賽，獲得第二名。作品名稱為「Easy-Guide：以智慧型手機實現之簡易導盲系統」。
                </li>
                <li>
                    指導學生(林榆軒、方佑豪、黃詩媛、秦和謙)參加國立臺北大學資工系105學年度第2學期專題成果競賽，獲得佳作。作品名稱為「Crescendo- A Rhythm Game Using Wearable Inertial Sensors」。
                </li>
                <li>
                    指導學生(周威任、李依蓉、孫嘉豪、黃彥禎)參加2016中華民國生物醫學工程創意競賽，獲得佳作。作品名稱為「結合腦機介面為基礎的專注力監測及虛擬實境回饋的互動式上肢中風復健系統」。
                </li>
                <li>
                    指導學生參加香港理工大學 2016 Cross-Strait Research Forum 程式競賽獲前四名 (第一名至第四名)
                </li>
                <li>
                    指導學生(林冠宏、熊祖玲、王建湧、林雨萱)參加國立臺北大學資工系106學年度第2學期專題成果競賽，獲得佳作。作品名稱為「Rehabilitation Gamification System– for Stroke Patients」。
                </li>
            </ol>
        </div>

    </div>
</body>

