
@{
    ViewBag.Title = "Member";
}
@Styles.Render("~/Content/style.css")

<body>
    <div id="member" style="margin:50px 0px 0px 100px">
        <div id="PhD student">
            <div class="markdown-body">
                <h2>博士班</h2>
            </div>
            <div id="lee">
                <p class="da-name">李依蓉</p>
                <ul>
                    <li>
                        <address>
                            <p>Email: <a href="mailto:Support@example.com">akino_sumiko@hotmail.com </a></p>
                        </address>
                    </li>
                    <li>
                        研究題目：使用慣性測量單元手套實現一手功能評估系統
                    </li>
                </ul>
            </div>
            <div id="ZhangZhao">
                <p class="da-name">張昭</p>
                <ul>
                    <li>
                        <address>
                            <p>Email: <a href="mailto:Support@example.com">18259956201@163.com </a></p>
                        </address>
                    </li>
                    <li>
                        研究題目：
                    </li>
                </ul>
            </div>
        </div>

        <div id="MS student">
            <div class="markdown-body">
                <h2>碩士班</h2>
            </div>
            <div id="LinQizhou">
                <p class="da-name">林琪洲</p>
                <ul>
                    <li>
                        <address>
                            <p>Email: <a href="mailto:Support@example.com">102406043@stud.sju.edu.tw </a></p>
                        </address>
                    </li>
                    <li>
                        研究題目：基於人工智慧之靜態與步態平衡度評估系統
                    </li>
                </ul>
            </div>
            <div id="WangYupu">
                <p class="da-name">王舜樸</p>
                <ul>
                    <li>
                        <address>
                            <p>Email: <a href="mailto:Support@example.com">shun40605@gmail.com </a></p>
                        </address>
                    </li>
                    <li>
                        研究題目：虛擬實境輔助臨床前手術系統
                    </li>
                </ul>
            </div>
            <div id="ChenShizhen">
                <p class="da-name">陳世烜</p>
                <ul>
                    <li>
                        <address>
                            <p>Email: <a href="mailto:Support@example.com">nakaharamisakinya@gmail.com </a></p>
                        </address>
                    </li>
                    <li>
                        研究題目：
                    </li>
                </ul>
            </div>
        </div>

        <div id="bachelor">
            <div class="markdown-body">
                <h2>學士班</h2>
            </div>
            <div id="ning">
                <p class="da-name">丁寧</p>
                <ul>
                    <li>
                        <address>
                            <p>Email: <a href="mailto:Support@example.com">ning.ting0121@gmail.com</a></p>
                        </address>

                    </li>

                </ul>
            </div>
            <div id="yuching">
                <p class="da-name">林于晴</p>
                <ul>
                    <li>
                        <address>
                            <p>Email: <a href="mailto:Support@example.com">yuching1128@gmail.com</a></p>
                        </address>
                    </li>
                </ul>
            </div>
            <div id="shih">
                <p class="da-name">施雅馨</p>
                <ul>
                    <li>
                        <address>
                            <p>Email: <a href="mailto:Support@example.com">shih11223@gmail.com </a></p>
                        </address>
                    </li>
                </ul>
            </div>
            <div id="wanda">
                <p class="da-name">紀雯齡</p>
                <ul>
                    <li>
                        <address>
                            <p>Email: <a href="mailto:Support@example.com">wenney@gmail.com </a></p>
                        </address>
                    </li>
                </ul>
            </div>
            <div id="tu">
                <p class="da-name">杜奕萱</p>
                <ul>
                    <li>
                        <address>
                            <p>Email: <a href="mailto:Support@example.com">life10235512@gmail.com </a></p>
                        </address>
                    </li>
                </ul>
            </div>
        </div>

        <div id="graduating student">
            <div class="slide_toggle">畢業生<img class="drop" src="~/img/83573c8f166b760.png" style="height:30px;width:30px;" /></div>
            <div id="MS student">
                <div class="markdown-body">
                    <h2>碩士班畢業生</h2>
                </div>
                <div id="ZhouWeiren">
                    <p class="da-name">周威任(106資工碩畢)</p>
                    <ul>
                        <li>
                            論文題目：基於深度攝影機之健身房活動能量消耗預測系統
                        </li>
                    </ul>
                </div>
                <div id="SuZheShi">
                    <p class="da-name">蘇哲仕(105資工碩畢)</p>
                    <ul>
                        <li>
                            論文題目：使用內嵌慣性測量單元之資料手套於中風病患的手功能評估系統
                        </li>
                    </ul>
                </div>
                <div id="XuXiuqi">
                    <p class="da-name">許修齊(104資工碩畢)</p>
                    <ul>
                        <li>
                            論文題目：結合腦機介面為基礎的專注力監測及虛擬實境回饋的互動式上肢中風復健系統
                        </li>
                    </ul>
                </div>
                <div id="project student">
                    <div class="markdown-body">
                        <h2>大學部專題生</h2>
                    </div>
                    <div id="106">
                        <p class="da-name">林冠宏、熊祖玲、王建湧、林雨萱 (106專題生)</p>
                        <ul>
                            <li>
                                專題題目：Rehabilitation Gamification System– for Stroke Patients
                            </li>
                        </ul>
                    </div>
                    <div id="105">
                        <p class="da-name">林榆軒、方佑豪、黃詩媛、秦和謙 (105專題生)</p>
                        <ul>
                            <li>
                                專題題目：Crescendo- A Rhythm Game Using Wearable Inertial Sensors
                            </li>
                        </ul>
                    </div>
                    <div id="105">
                        <p class="da-name">方孟朋、林楷淇 (105專題生)</p>
                        <ul>
                            <li>
                                專題題目：智慧居家空氣品質監測系統
                            </li>
                        </ul>
                    </div>
                    <div id="104">
                        <p class="da-name">蕭勝興、李政哲、楊朝勛、黃昶翔 (104專題生)</p>
                        <ul>
                            <li>
                                專題題目：Easy-Guide：以智慧型手機實現之簡易導盲系統
                            </li>
                        </ul>
                    </div>
                    <div id="103">
                        <p class="da-name">陳彥霖、陳君豪、張均豪 (103專題生)</p>
                        <ul>
                            <li>
                                專題題目：Camtrol－基於物品辨識的智慧家庭系統
                            </li>
                        </ul>
                    </div>
                    <div id="103">
                        <p class="da-name">徐國維、彭伯銓 (103專題生，電機系)</p>
                        <ul>
                            <li>
                                專題題目：室內移動距離的測量
                            </li>
                        </ul>
                    </div>
                    <div id="102">
                        <p class="da-name">廖嘉禾、黃彥禎 (102專題生)</p>
                        <ul>
                            <li>
                                專題題目：iWalk-基於步態分析與環境辨識之智慧型機械行走輔助器
                            </li>
                        </ul>
                    </div>
                    <div id="102">
                        <p class="da-name">陳芝儀、吳孟蓉 (102專題生)</p>
                        <ul>
                            <li>
                                專題題目：The Sleep WELL Box
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<style>

    /* 展開收合效果 */
    .slide_toggle {
        min-width: 200px;
        max-width: 1000px;
        padding-bottom: 0.3em;
        font-weight: bold;
        font-size: 1.75em;
        line-height: 1.225;
        border-bottom: 0.5px solid #9E9E9E;
    }

        .slide_toggle + div {
            display: none;
            margin-top: 10px;
            /* 隱藏註解文字區塊, 請加入自訂 CSS 效果 */
        }
</style>
<script>
    $(".slide_toggle").click(function () {
        $(this).next().slideToggle();
    });
</script>
<script src="/scripts/ai.0.22.9-build00167.js"></script>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'></script>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

