
@{
    ViewBag.Title = "Patent";
}

@Styles.Render("~/Content/style.css")
<body>
    <div>
        <br /><br />
        <div class="link">
            <input type="button" class="btn-professor btn btn-default" onclick="javascript:location.href='Professor'" value="簡介">
            <input type="button" class="btn-professor btn btn-default" onclick="javascript:location.href='Publication'" value="著作">
            <input type="button" class="btn-professor btn btn-default" onclick="javascript:location.href='Research'" value="研究計畫">
            <input type="button" class="btn-professor btn btn-default" onclick="javascript:location.href='Patent'" value="專利">
            <input type="button" class="btn-professor btn btn-default" onclick="javascript:location.href='Honors'" value="獲獎殊榮">
        </div><br />
        <div id="patent">
            <h2>專利 (Patents)</h2>
            <ol>
                <li>
                    林伯星、劉思杰、許宏瑞，可部份自我重組之生醫訊號處理系統及方法，中華民國發明專利：發明第I442256號，103年6月21日，專利權期間：自2014年6月21日至2032年3月15日止。
                </li>
                <li>
                    林伯星、林伯昰，腦電波處理裝置及腦機介面系統，中華民國發明專利：發明第I542323號，105年7月21日，專利權期間：自2016年7月21日至2035年1月6日止。
                </li>
                <li>
                    林伯星、陳芝儀、吳孟蓉，個人化聲光味之控制系統與方法，中華民國發明專利：發明第I559948號，105年12月1日，專利權期間：自2016年12月1日至2034年6月11日止。
                </li>
                <li>
                    林伯星、陳靖倫、許修齊，虛擬實境復健系統，中華民國發明專利：發明第I566762號，106年1月21日，專利權期間：自2017年1月21日至2035年12月29日止。
                </li>
                <li>
                    林伯星、蘇哲仕、李依蓉，關節活動品質估測系統及方法，中華民國發明專利：發明第I581757號，106年5月11日，專利權期間：自2017年5月11日至2034年8月19日止。
                </li>
                <li>
                    林伯星、彭志維、廖嘉禾，自適應於即時步態之穿戴式垂足電刺激控制系統及方法，中華民國發明專利：發明第I594786號，106年8月11日，專利權期間：自2017年8月11日至2036年9月1日止。
                </li>
            </ol>
        </div>
    </div>
</body>

