
@{
    ViewBag.Title = "Publication";
}

@Styles.Render("~/Content/style.css")
<body>
    <div>
        <br /><br />
        <div class="link">
            <input type="button" class="btn-professor btn btn-default" onclick="javascript:location.href='Professor'" value="簡介">
            <input type="button" class="btn-professor btn btn-default" onclick="javascript:location.href='Publication'" value="著作">
            <input type="button" class="btn-professor btn btn-default" onclick="javascript:location.href='Research'" value="研究計畫">
            <input type="button" class="btn-professor btn btn-default" onclick="javascript:location.href='Patent'" value="專利">
            <input type="button" class="btn-professor btn btn-default" onclick="javascript:location.href='Honors'" value="獲獎殊榮">
        </div>        <br />
        <div id="full-papers">
            <h2>Full papers</h2>
            <ol>
                <li>
                    Bor-Shing Lin, I-Jung Lee, Pei-Ying Chiang, Shih-Yuan Huang, and Chih-Wei Peng*, “A Modular Data Glove System for Finger and Hand Motion Capture Based on Inertial Sensors,” Journal of Medical and Biological Engineering, 2018. (SCI, In Press)
                </li>
                <li>
                    Bor-Shing Lin, Li-Ying Wang, Yi-Ting Hwang, Pei-Ying Chiang*, and Wei-Jen Chou, “Depth-Camera-Based System for Estimating Energy Expenditure of Physical Activities in Gyms,” IEEE Journal of Biomedical and Health Informatics, 2018. (SCI, In Press)
                </li>
                <li>
                    Bor-Shing Lin, Ching-Feng Liu, Chih-Jen Cheng, Jhi-Joung Wang, Chengyu Liu, Jianqing Li, and Bor-Shyh Lin*, “Development of Novel Hearing Aids by Using Image Recognition Technology,” IEEE Journal of Biomedical and Health Informatics, 2018. (SCI, In Press)
                </li>
                <li>
                    Bor-Shing Lin, I-Jung Lee, Shu-Yu Yang, Yi-Chiang Lo, Junghsi Lee, and Jean-Lon Chen*, “Design of Inertial-sensor-based Data Glove for Hand Function Evaluation,” Sensors, vol. 18, issue 5, article 1545, pp. 1–18, May 2018. (SCIE)
                </li>
                <li>
                    Bor-Shing Lin, Jean-Lon Chen*, and Hsiu-Chi Hsu, “Novel Upper-Limb Rehabilitation System Based on Attention Technology for Post-Stroke Patients: A Preliminary Study,” IEEE Access, vol. 6, issue 1, pp. 2720–2731, February 2018. (SCI)
                </li>
                <li>
                    T. Yu*, B. Lin, and Y. Chang, “Eight-way radial power splitter including ring-shape isolation network,” Electronics Letters, vol. 53, no. 24, pp. 1587–1589, November 23, 2017. (SCI)
                </li>
                <li>
                    Hung-Jr Shiu, Bor-Shing Lin, Chien-Hung Huang*, Pei-Ying Chiang*, and Chin-Laung Lei, “Preserving Privacy of Online Digital Physiological Signals Using Blind and Reversible Steganography,” Computer Methods and Programs in Biomedicine, vol. 151, pp. 159–170, November 2017. (SCI)
                </li>
                <li>
                    Bor-Shing Lin*, Pei-Chi Hsiao, Shu-Yu Yang, Che-Shih Su, and I-Jung Lee, “Data Glove System Embedded with Inertial Measurement Units for Hand Function Evaluation in Stroke Patients,” IEEE Transactions on Neural Systems and Rehabilitation Engineering, vol. 25, no. 11, pp. 2204–2213, November 2017. (SCI)
                </li>
                <li>
                    Yao-Chin Wang, Willy Chou, Bor-Shing Lin, Jhi-Joung Wang, Bor-Shyh Lin*, “The Use of Surface Electromyography in Dysphagia Evaluation,” Technology and Health Care, vol. 25, no. 5, pp. 1025–1028, October 2017. (SCI)
                </li>
                <li>
                    Shih-Hong Li, Bor-Shing Lin, Chen-An Wang, Cheng-Ta Yang, Bor-Shyh Lin*, “Design of wearable and wireless multi-parameter monitoring system for evaluating cardiopulmonary function,” Medical Engineering & Physics, vol. 47, pp. 144–150, September 2017. (SCI)
                </li>
                <li>
                    Hung-Jr Shiu, Bor-Shing Lin, Chia-Wei Cheng, Chien-Hung Huang*, and Chin-Laung Lei, “High-Capacity Data-Hiding Scheme on Synthesized Pitches using Amplitude Enhancement-A New Vision of Audio Steganography,” Symmetry, vol. 9, issue 6, article 92, pp. 1–20, June 2017. (SCIE)
                </li>
                <li>
                    Bor-Shing Lin, Cheng-Che Lee, and Pei-Ying Chiang*, “Simple Smartphone-based Guiding System for Visually Impaired People,” Sensors, vol. 17, issue 6, article 1371, pp. 1–22, June 2017. (SCIE)
                </li>
                <li>
                    Bor-Shing Lin, Yu-Hsien Yao, Ching-Feng Liu, Ching-Feng Lien, and Bor-Shyh Lin*, “Development of Novel Lip-Reading Recognition Algorithm,” IEEE Access, vol. 5, pp. 794–801, January 2017. (SCI)
                </li>
                <li>
                    Shih-Hong Li, Bor-Shing Lin, Chen-Han Tsai, Cheng-Ta Yang, and Bor-Shyh Lin*, “Design of Wearable Breathing Sound Monitoring System for Real-Time Wheeze Detection,” Sensors, vol. 17, issue 1, article 171, pp. 1–15, January 2017. (SCIE)
                </li>
                <li>
                    Chi-Chia Sun*, Bor-Shing Lin, Jheng-Yi Lin, and Gene Eu Jan, “VLSI Design of a RSA Encryption/Decryption Chip using Systolic Array based Architecture,” International Journal of Electronics, vol. 103, issue 9, pp. 1538–1549, September 2016. (SCI)
                </li>
                <li>
                    Bor-Shing Lin, and Bor-Shyh Lin*, “Automatic Wheezing Detection Using Speech Recognition Technique,” Journal of Medical and Biological Engineering, vol. 36, no, 4, pp. 545–554, August 2016. (SCI)
                </li>
                <li>
                    Bor-Shing Lin*, “A Seamless Ubiquitous Emergency Medical Service for Crisis Situations,” Computer Methods and Programs in Biomedicine, vol. 126, pp. 89–97, April 2016 (SCI)
                </li>
                <li>
                    Bor-Shing Lin, Jeng-Shyang Pan, Tso-Yao Chu, and Bor-Shyh Lin*, “Development of a Wearable Motor-Imagery-Based Brain–Computer Interface,” Journal of Medical Systems, 2016, vol. 40, Issue 3, Article 71, pp. 1–8, March 2016 (SCI)
                </li>
                <li>
                    Bor-Shing Lin*, Huey-Dong Wu, and Sao-Jie Chen, “Automatic Wheezing Detection Based on Signal Processing of Spectrogram and Back-Propagation Neural Network,” Journal of Healthcare Engineering, vol. 6, no. 4, pp. 649–672, December 2015. (SCIE)
                </li>
                <li>
                    Chu Yu*, Bor-Shing Lin, Po-Hsun Cheng, and Yu-Shan Su, “Low-Power Multi-Standard Viterbi Decoder for Wireless Communication Applications,” International Journal of Electronics Letters, vol. 4, Issue 2, April 2, 2015.
                </li>
                <li>
                    Bor-Shing Lin, Pei-Chi Hsiao, Po-Hsun Cheng, I-Jung Lee*, and Gene Eu Jan, “Design and Implementation of a Set-top Box Based Homecare System Using Hybrid-cloud,” Telemedicine and e-Health, vol. 21, no. 11, pp. 916–922, November 2015. (SCI)
                </li>
                <li>
                    Bor-Shing Lin*, Mei-Ju Su, Po-Hsun Cheng, Po-Jui Tseng, and Sao-Jie Chen, “Temporal and Spatial Denoising of Depth Maps,” Sensors, vol. 15, issue 8, pp. 18506–18525, July 29, 2015. (SCI)
                </li>
                <li>
                    Kevin C. Tseng, Bor-Shing Lin, Alice May-Kuen Wong, and Bor-Shyh Lin*, “Design of a Mobile Brain Computer Interface-Based Smart Multimedia Controller,” Sensors, vol. 13, issue 3, pp. 5518–5530, March 6, 2015. (SCIE)
                </li>
                <li>
                    Bor-Shing Lin, Yu-Ting Liu*, Chu Yu, Gene Eu Jan, and Bo-Tang Hsiao, “Gait Recognition and Walking Exercise Intensity Estimation,” International Journal of Environmental Research and Public Health, vol. 11, issue 4, pp. 3822–3844, April 4, 2014. (SCIE)
                </li>
                <li>
                    Bor-Shing Lin*, and Tian-Shiue Yen, “An FPGA-Based Rapid Wheezing Detection System,” International Journal of Environmental Research and Public Health, vol. 11, issue 2, pp. 1573–1593, January 29, 2014. (SCIE)
                </li>
                <li>
                    Po-Hsun Cheng, Bor-Shing Lin, Chu Yu, Shun-Hsiang Hu, and Sao-Jie Chen, “A Seamless Ubiquitous Telehealthcare Tunnel,” International Journal of Environmental Research and Public Health, vol. 10, issue 8, pp. 3246–3262, August 2013. (SCIE)
                </li>
                <li>
                    Bor-Shyh Lin, Bor-Shing Lin, Fok-Ching Chong, and Feipei Lai, “Higher Order Statistics-Based Radial Basis Function Network for Evoked Potentials,” IEEE Transactions on Biomedical Engineering, vol. 56, no. 1, pp. 93–100, January 2009. (SCI)
                </li>
                <li>
                    Bor-Shyh Lin, Bor-Shing Lin, Fok-Ching Chong, and Feipei Lai , “Higher Order Statistics-Based Radial Basis Function Networks for Signal Enhancement,” IEEE Transactions on Neural Network, vol. 18, no. 3, pp. 823–832, May 2007. (SCI)
                </li>
                <li>
                    Bor-Shyh Lin, Bor-Shing Lin, Fok-Ching Chong, and Feipei Lai, “A Functional Link Network with Higher Order Statistics for Signal Enhancement,” IEEE Transactions on Signal Processing, vol. 54, no. 12, pp. 4821–4826, December 2006. (SCI)
                </li>
                <li>
                    Bor-Shing Lin, Bor-Shyh Lin, Nai-Kuan Chou, Fok-Ching Chong, and Sao-Jie Chen, “RTWPMS: a Real-Time Wireless Physiological Monitoring System,” IEEE Transactions on Information Technology in Biomedicine, vol. 10, no. 4, pp. 647–656, October 2006. (SCI)
                </li>
                <li>
                    Bor-Shing Lin, Bor-Shyh Lin, Huey-Dong Wu, Fok-Ching Chong, and Sao-Jie Chen, “Wheeze Recognition Based on 2D Bilateral Filtering of Spectrogram,” Biomedical Engineering: Applications, Basis and Communications, vol. 18, no. 3, pp. 128–137, June 2006. (SCI)
                </li>
                <li>
                    Bor-Shyh Lin, Bor-Shing Lin, Fok-Ching Chong, and Feipei Lai, “Adaptive Filtering of evoked potentials using higher-order adaptive signal enhancer with genetic-type variable step-size prefilter,” Medical & Biological Engineering & Computing, vol. 43, no. 5, pp. 638–647, October 2005. (SCI)
                </li>
                <li>
                    Bor-Shyh Lin, Bor-Shing Lin, Jen-Chien Chien, and Fok-Ching Chong, “Functional Link Network with Genetic Algorithm for Evoked Potentials”, Biomedical Engineering: Applications, Basis and Communications, vol. 17, no. 4, pp.193–200, August 2005. (SCI)
                </li>
            </ol>
        </div>
        <hr />
        <div id="full-papers-chinese">
            <h2>Full papers (Chinese)</h2>
            <ol>
                <li>林伯星*, 李依蓉, “設計與實作一基於混合雲架構於機上盒的銀髮族家庭健康照護系統”, 福祉科技與服務管理學刊, vol. 2, no. 3, pp. 237-242, December 2014.</li>
            </ol>
        </div>
        <hr />
        <div id="conference-papers">
            <h2>Conference papers</h2>
            <ol>
                <li>
                    Bor-Shing Lin*, Po-Hsun Cheng, Bor-Shyh Lin, Ren-Hao Wu, and Sao-Jie Chen, “Efficient Mobile Middleware for Seamless Communication of Prehospital Emergency Medicine,” Proc. of 4th Euro-China Conference on Intelligent Data Analysis and Applications (ECC 2017), Málaga, Spain, 9-11 October 2017.
                </li>
                <li>
                    Hung-Jr Shiu, Bor-Shing Lin, Bor-Shyh Lin, Wei-Chou Lai, Chien-Hung Huang and Chin-Laung Lei, “A Stereo Audio Steganography by Inserting Low-frequency and Octave Equivalent Pure Tones,” Proc. of 4th Euro-China Conference on Intelligent Data Analysis and Applications (ECC 2017), Málaga, Spain, 9-11 October 2017.
                </li>
                <li>
                    Hung-Jr Shiu*, Bor-Shing Lin, Bor-Shyh Lin, Po-Yang Huang, Chien-Hung Huang, and Chin-Laung Lei, “Data Hiding on Social Media Communications Using Text Steganography,” Proc. of 12th International Conference on Risks and Security of Internet and Systems (CRiSIS 2017), Dinard, France, 19-21 September 2017.
                </li>
                <li>
                    Yan-Di Wang, Chun-Hui Liu, Ren-Yi Jiang, Bor-Shing Lin, and Bor-Shyh Lin*, “Novel Approach of Respiratory Sound Monitoring Under Motion,” Proc. of 13th International Conference on Intelligent Information Hiding and Multimedia Signal Processing (IIHMSP 2017), Matsue, Shimane, Japan, 12-15 August 2017, pp. 167–174.
                </li>
                <li>
                    Yu-Min Hung, Yao-Chin Wang*, Yu-Ching Yang, Bor-Shyh Lin, and Bor-Shing Lin, “Auto defect detection of α-IGZO thin film transistor backplane on foldable medical array panel application,” Proc. of Computing Conference (SAI 2017), London, United Kingdom, 18-20 July 2017.
                </li>
                <li>
                    Bor-Shing Lin*, Jean-Lon Chen, Gene Eu Jan, and Hsiu-Chi Hsu, “An Interactive Upper-limb Post-stroke Rehabilitation System Integrating BCI-based Attention Monitoring and Virtual Reality Feedback,” Proc. of the 3rd International Conference on Computing, Measurement, Control and Sensor Network (CMCSN2016), Matsue, Shimane, Japan, 20-22 May 2016, pp. 44–47.
                </li>
                <li>
                    Bor-Shing Lin*, Huey-Dong Wu, Sao-Jie Chen, Gene Eu Jan, and Bor-Shyh Lin, “Using Back-Propagation Neural Network for Automatic Wheezing Detection,” Proc. of 11th International Conference on Intelligent Information Hiding and Multimedia Signal Processing (IIHMSP 2015), Adelaide, Australia, 23-25 September 2015, pp. 49–52.
                </li>
                <li>
                    Pei-Chi Hsiao, Shu-Yu Yang, Bor-Shing Lin, I-Jung Lee*, and Willy Chou, “Data Glove Embedded with 9-Axis IMU and Force Sensing Sensors for Evaluation of Hand Function,” Proc. of 37th Annual International Conference of the IEEE Engineering in Medicine and Biology Society (EMBC'15), Milan, Italy, 25-29 August 2015, pp. 4631–4634.
                </li>
                <li>
                    Bor-Shing Lin, Wei-Ren Chou*, Po-Hsun Cheng, Po-Jui Po-Jui, and Sao-Jie Chen, “An Effective Spatial-temporal Denoising Approach for Depth Images,” Proc. of 2015 IEEE International Conference on Digital Signal Processing (DSP), Singapore, 21-24 Jul. 2015, pp. 647–651.
                </li>
                <li>
                    Chen-An Wang, Yi-Chien Liao, Pei-Jung Wu, Yu-Lin Wang, Bor-Shing Lin, Bor-Shyh Lin*, “Wireless Monitoring System for Oral-feeding Evaluation of Preterm Infants,” Proc. of 2014 IEEE/CAS-EMB Biomedical Circuits and Systems Conference (BioCAS), Lausanne, Switzerland, 22-24 Oct. 2014, pp. 264–267.
                </li>
                <li>
                    Bor-Shing Lin*, I-Jung Lee, Pei-Chi Hsiao, I-Jung Lee, Shu-Yu Yang, and Willy Chou, " Data Glove Embedded with 6-DOF Inertial Sensors for Hand Rehabilitation," Proc. of the Tenth International Conference on Intelligent Information Hiding and Multimedia Signal Processing (IIHMSP 2014), Kitakyushu, Japan, August 27-29, 2014, pp. 25–28.
                </li>
                <li>
                    Chu Yu, Ho-Sheng Chuang, Bor-Shing Lin, Po-Hsun Cheng, and Sao-Jie Chen, “Improvement on a block-serial fully-overlapped QC-LDPC decoder for IEEE 802.11n,” Proc. of the IEEE Int’l Conference on Consumer Electronics (ICCE 2014), Las Vegas, NV, USA, 10-13 Jan. 2014, pp. 446–447.
                </li>
                <li>
                    I-Jung Lee*, Bor-Shing Lin, Chih-Yi Chen, Gene Eu Jan, Po-Hsun Cheng, "A Ubiquitous Healthcare System Based on Hybrid Cloud and HL7/XML Standards," Proc. of Asia-Pacific HL7 Conference 2013 (APHC 2013), Taipei, Taiwan, 25-26 October 2013, pp. 1–6.
                </li>
                <li>
                    Yu-Ting Liu*, Bor-Shing Lin, Gene Eu Jan, Chu Yu, Bo-Tang Hsiao, "Gait Recognition and Walking Exercise Intensity Estimation," Proc. of Asia-Pacific HL7 Conference 2013 (APHC 2013), Taipei, Taiwan, 25-26 October 2013, pp. 89–95.
                </li>
                <li>
                    Bor-Shing Lin, Jhe-Shin Su, Hao Chen, and Ching Yuh Jan, "A Fall Detection System Based on Human Body Silhouette," Proc. of the Ninth International Conference on Intelligent Information Hiding and Multimedia Signal Processing (IIHMSP 2013), Beijing, China, 16-18 October 2013, pp. 49–52.
                </li>
                <li>
                    Yu-Shan Su, Chu Yu, Bor-Shing Lin, Po-Hsun Cheng, and Sao-Jie Chen, "Design of a (255, 239) Reed-Solomon Decoder Using a Simplified Step-by-Step Algorithm," Proc. of IEEE International Conference on Consumer Electronics (ICCE 2013), Las Vegas, NV, USA, 1-14 Jun. 2013, pp. 247–248.
                </li>
                <li>
                    Chu Yu, Yu-Shan Su, Bor-Shing Lin, Po-Hsun Cheng, and Sao-Jie Chen, "A Dual-Code-Rate Memoryless Viterbi Decoder for Wireless Communication Systems," Proc. of IEEE International Conference on Consumer Electronics (ICCE 2013), Las Vegas, NV, USA, 1-14 Jun. 2013, pp. 578–579.
                </li>
                <li>
                    Chinyang Henry Tseng, ShiauHuey Wang, Bor-Shing Lin, Tong-Ying Junag, Xiao-Ru Ji, "CDTS: Coordinator Data Traffic Shunt model for Zigbee networks," Proc. of International Computer Symposium (ICS 2012), Hualien, Taiwan, Dec. 12-14, 2012.
                </li>
                <li>
                    S. H. Hu, P. H. Cheng, R. H. Wu, Y. P. Lin, H. C. Hsieh, B. S. Lin, C. Yu, and S. J. Chen, “A Seamless Wireless Network Switching Tunnel for Ubiquitous Healthcare Environment,” Proc. of the 1st IEEE Global Conference on Consumer Electronics (GCCE), Tokyo, Japan, 2-5 Oct. 2012, pp. 387–391. (EI)
                </li>
                <li>
                    Chu Yu, Yu-Shan Su, Bor-Shing Lin, Po-Hsun Cheng, and Sao-Jie Chen, “A Memoryless Viterbi Decoder for LTE Systems,” Proc. of the 1st IEEE Global Conference on Consumer Electronics (GCCE), Tokyo, Japan, 2-5 Oct. 2012, pp. 628–629. (EI)
                </li>
                <li>
                    Chinyang Tseng, Shaiuhuey Wang, Xiao-Ru Ji, Bor-Shing Lin, Tong-Ying Juang, "Data Flow Diffluence Model for Zigbee Networks," Proc. of the 8th Workshop on Wireless, Ad Hoc and Sensor Networks (WASN 2012), New Taipei City, Taiwan, 29-30 August 2012.
                </li>
                <li>
                    Hao Chen, and Bor-Shing Lin, "Video-Based Fall Detection System for Solitary Elder," Proc. of the 25th IPPR Conference on Computer Vision, Graphics, and Image Processing, Nantou, Taiwan, 12-14 Aug. 2012.
                </li>
                <li>
                    P. H. Cheng, S. H. Hsu, Y. P. Lin, H. C. Hsieh, B. S. Lin, C. Yu, and S. J. Chen, "A Ubiquitous Scheme of One-to-many Switching Tunnel for Healthcare Utilization," Proc. of the 4th International Conference on Computational Intelligence, Communication Systems and Networks (CICSyN), Phuket, Thailand, 24-26 July 2012, pp. 389–392. (EI)
                </li>
                <li>
                    Kevin C. Tseng, Yu-Te Wang, Bor-Shing Lin and Ping Han Hsieh, "Brain Computer Interface-based Multimedia Controller," Proc. of the Eighth International Conference on Intelligent Information Hiding and Multimedia Signal Processing (IIHMSP 2012), Piraeus-Athens, Greece, 18-20 July 2012.
                </li>
                <li>
                    Gene Eu Jan, Wei Chun Tsai, Chi-Chia Sun and Bor-Shing Lin, “A Delaunay triangulation-based shortest path algorithm with O(n log n) time in the Euclidean plane,” Proc. of 2012 IEEE/ASME International Conference on Advanced Intelligent Mechatronics (AIM2012), Kaohsiang, Taiwan, 11-14 July 2012, pp. 186–189. (EI)
                </li>
                <li>
                    Gene Eu Jan, Cheng-Hung Li, Chi-Chia Sun and Bor-Shing Lin, “A Fast Channel Assignment Algorithm Based-on Buckets Data Structure,” Proc. of 2012 International Conf. on Computing Technology and Information Management (ICCM 2012), Seoul, South Korea, 24-26 Apr. 2012, pp. 11–15. (EI)
                </li>
                <li>
                    Ren-Hao Wu*, Hsiao-Chi Hsieh, Bor-Shing Lin, Chu Yu, Sao-Jie Chen, “Seamless Communication of SCTP for Ubiquitous Telecare,” Proc. of Symposium on Engineering Medicine and Biology Applications & International Workshop on Bio-inspired Systems and Prosthetic Devices, Taichung, Taiwan, 11-13 Feb. 2012, Paper IV-4-1.
                </li>
                <li>
                    Ming-Hsiang Hsu*, Hsiao-Chi Hsieh, Bor-Shing Lin, Po-Hsun Cheng, Sao-Jie Chen, “Cloud-based EEG Seizure and Video Monitoring System,” Proc. of Symposium on Engineering Medicine and Biology Applications & International Workshop on Bio-inspired Systems and Prosthetic Devices, Taichung, Taiwan, 11-13 Feb. 2012, Paper II-2-4.
                </li>
                <li>
                    Po-Hsun Cheng, Bor-Shing Lin, Chu Yu, Sao-Jie Chen*, “A Cognitive Radio Platform for Mobile Healthcare,” Proc. of Symposium on Engineering Medicine and Biology Applications & International Workshop on Bio-inspired Systems and Prosthetic Devices, Taichung, Taiwan, 11-13 Feb. 2012, Paper I-1.
                </li>
                <li>
                    G. E. Jan, J. J. Hsu, Y.-Y. Chen, and B.-S. Lin, ”A Fastest Rectilinear Steiner Tree Algorithm Based on the H-tree,” Proc. of National Computer Symposium, Vol. 3: Computer Architectures, Embedded System and VLSI/EDA, Chiayi, Taiwan, 2-3 Dec. 2011, pp. 20–27.
                </li>
                <li>
                    G. E. Jan, H. W. Chen, Y.-Y. Chen, and B.-S. Lin, ”A Fast Maze Routing Approach to the Steiner Tree Problem,” Proc. of National Computer Symposium, Vol. 3: Computer Architectures, Embedded System and VLSI/EDA, Chiayi, Taiwan, 2-3 Dec. 2011, pp. 180–188.
                </li>
                <li>
                    Shih-Yan Wang*, Hsiao-Chi Hsieh, Bor-Shing Lin, Po-Hsun Cheng, and Sao-Jie Chen, “Design of Wireless Communication System with Seamless Switching for Mobile Health-care,” Proc. of 2011 Annual Symposium on Biomedical Engineering and Technology, Tainan, Taiwan, 19-20 Aug. 2011.
                </li>
                <li>
                    Gene Eu Jan, Yu-Shu Huang, Ming-Che Lee, Bor-Shing Lin, “Practical Route Planning on the Smart Phones,” Proc. of WASET International Conference on Computational Mathematics (ICCM 2011), Paris, France, June 2011, pp. 1–6. (EI)
                </li>
                <li>
                    Bor-Shyh Lin, Bor-Shing Lin, and Fok-Ching Chong, "Power-line Interference Removal of Bioelectric Signal Measurement by using Genetic Adaptive Filter," Proc. of the 27th Annual International EMBS/EMBC Conference, Shanghai, China, 1-4 Sept. 2005, pp. 4557-4559.
                </li>
                <li>
                    Bor-Shyh Lin, Bor-Shing Lin, and Fok-Ching Chong, "Evoked Potentials Estimation by using Higher Order Adaptive Neural Network filter," Proc. of the 27th Annual International EMBS/EMBC Conference, Shanghai, China, 1-4 Sept. 2005, pp. 1139-1141.
                </li>
                <li>
                    Bor-Shyh Lin, Bor-Shing Lin, Fok-Ching Chong, and Feipei Lai, "Estimating evoked potentials by using genetic algorithm," Proc. of 3rd European Medical and Biological Engineering Conference, Prague, Czech Republic, 20-25 Nov. 2005.
                </li>
                <li>
                    Bor-Shyh Lin, Bor-Shing Lin, Fok-Ching Chong, and Feipei Lai, "Adaptive interference cancel filter for evoked potential using high-order cumulants," Proc. of the 26th Annual International EMBS/EMBC Conference, San Francisco, CA, USA, 1-5 Sept. 2004, vol. 1, pp.396–398.
                </li>
                <li>
                    Wei-Shun Liao, Bor-Shyh Lin, Bor-Shing Lin, Huey-Dong Wu, and Fok-Ching Chong, "Ambient noise canceller in pulmonary sound using wht transform domain adaptive filter," Proc. of the 24th Annual International IEEE EMBS Conference, Houston, TX, USA, 23-26 Oct. 2002, vol. 1, pp. 86–87.
                </li>
                <li>
                    Bor-Shyh Lin, Bor-Shing Lin, Wan-Chi Lee, Fok-Ching Chong, and Yue-Der Lin, "Removing residual power-line interference using wht adaptive filter," Proc. of the 24th Annual International EMBS/BMES Conference, Houston, TX, USA, 23-26 Oct. 2002, vol. 1, pp. 155–156.
                </li>
                <li>
                    Bor-Shyh Lin, Bor-Shing Lin, Jen-Chien Chien, Fok-Ching Chong, and Yue-Der Lin, "Transform domain adaptive enhancement filter for evoked potential," Proc. of the 24th Annual International EMBS/BMES Conference, Houston, TX, USA, 23-26 Oct. 2002, vol. 1, pp.277–278.
                </li>
                <li>
                    Bor-Shyh Lin, Bor-Shing Lin, Shu-Mei Wu, Fok-Ching Chong, “Cascade Adaptive Line Enhancement Filter Applied In Evoked Potential,” IX Mediterranean Conference on Medical and Biological Engineering and Computing (MEDICON 2001), Pula, Croatia, 12-15 June 2001, pp. 413–414.
                </li>
                <li>
                    Shu-Mei Wu, Bor-Shyh Lin, Bor-Shing Lin, and Fok-Ching Chong, “Establishing The Mechanical Pumping System For Evaluating The Effect Of Pumping To Blood Vessel,” IX Mediterranean Conference on Medical and Biological Engineering and Computing (MEDICON 2001), Pula, Croatia, 12-15 June 2001, pp. 903–906.
                </li>
                <li>
                    Bor-Shyh Lin, Bor-Shing Lin, Shu-Mei Wu, Jen-Chien Chien, and Fok-Ching Chong, "Estimation of evoked potentials using high order statistics-based adaptive filter," Proc. of the 23th Annual International IEEE EMBS Conference, Istanbul, Turkey, 25-28 Oct. 2001, vol. 2, pp. 2094–2096.
                </li>
                <li>
                    Jen-Chien Chien, Bor-Shyh Lin, Bor-Shing Lin, Shu-Mei Wu, and Fok-Ching Chong, "Implementation of noninvasive flow velocimetry through Monte Carlo simulation," Proc. of the 23th Annual International IEEE EMBS Conference, Istanbul, Turkey, 25-28 Oct. 2001, vol. 4, pp.3311–3313.
                </li>
                <li>
                    Bor-Shing Lin, Bor-Shyh Lin, Fok-Ching Chong, Gwo-Jen Jan, “An object-oriented finite impulse response (OOFIR) filter system,” Proc. of Asia Pacific Medical Informatics Conference, Hong Kong, China, 28-29 Sept. 2000.
                </li>
                <li>
                    Bor-Shyh Lin, Bor-Shing Lin, Fok-Ching Chong, Gwo-Jen Jan, “An emergency real-time biomedical signal monitor system for disastrous environment,” Proc. of Asia Pacific Medical Informatics Conference, Hong Kong, China, 28-29 Sept. 2000.
                </li>
                <li>
                    Bor-Shing Lin, Bor-Shyh Lin, Fok-Ching Chong, “A Wireless Sub-carrier Communication for Hospital Information System,” Proc. of the International Union for Physical and Engineering Sciences in Medicine, World Congress on Medical Physics and Biomedical Engineering, Chicago, IL, USA, June 2000.
                </li>
                <li>
                    Bor-Shyh Lin, Bor-Shing Lin, Gwo-Jen Jan, Fok-Ching Chong, “An Emergency Real-time Biomedical Signal Monitoring System,“ Proc. of the International Union for Physical and Engineering Sciences in Medicine, World Congress on Medical Physics and Biomedical Engineering, Chicago, IL, USA, June 2000.
                </li>
                <li>
                    Bor-Shyh Lin, Bor-Shing Lin, Gwo-Jen Jan, Fok-Ching Chong, “An adaptive signal enhancement filter for evoked potential,“ Proc. of the International Union for Physical and Engineering Sciences in Medicine, World Congress on Medical Physics and Biomedical Engineering, Chicago, IL, USA, June 2000.
                </li>
                <li>
                    Bor-Shyh Lin, Bor-Shing Lin, Jiann-Ling Liu, and Fok-Ching Chong, “An Effective Method to Measure Evoked Potential,” Proc. of 3rd International Conference on Bioelectromagnetism, Bled, Slovenia, 8-12 Oct. 2000.
                </li>
                <li>
                    Ren-Chiann Chian, Bor-Shyh Lin, Bor-Shing Lin, and Fok-Ching Chong, "Doppler shift measurements using Monte Carlo modeling," Proc. of IEEE EMBS International Conference, Information Technology Applications in Biomedicine, Arlington, VA, USA, 9-11 Nov. 2000, pp. 371–374.
                </li>
            </ol>
        </div>

    </div>
</body>

